*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #a3dbea;
    color: #254a94;
}

#root {
    height: 100vh;

    h1,
    p {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transform-origin: 0% 0%;
        font-size: 48px;
        font-family: 'Montserrat', sans-serif;
    } 

    h1 {
        font-weight: 900;

    }
    p {
        font-weight: 300;
    }

    &.clicked {
        h1 {
            animation: right 4s infinite reverse;
        }
        p {
            animation: right 4s infinite;
        }
        @keyframes right {
            0% {
                transform: rotate(0) translate(-50%, -50%);
            }
        
            100% {
                transform: rotate(360deg) translate(-50%, -50%);
            }
        
        }





    }

}

